body{
    margin:0 0 0 0
}

.header {
    display: flex;
    flex-direction: row;
    background: pink;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.quizContainer {
    display:flex;
    flex-direction: column;
    background: white;
    margin: 20px 30% 0 30%;

    text-align: center;
}
/* 
.quizBody {
 
    
} */


#quizButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:blue;
    width: 200px;
    
}


.answerChoice{
    color:white;
    background-color: gray;
    border-radius: 10px;
}

#gameSection{
    display:flex;
    flex-direction: column;
    background: white;
    margin: 20px 30% 0 30%;

    text-align: center;
}

#questionTitle{
    font-size: 20px ;
}

.hidden{
    display:none !important
}

.shown{
    display:block
}